.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    left: 30px;
}

.carousel-control-prev,
.carousel-control-next {
    width: 32px;
    height: 32px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 32px;
    height: 32px;
}